<div class="container">
        <span><h4>This Application uses local Storage for data saving.</h4></span>
        <span><h4>Edit operation performed on data fetched from API will not reflect in any other page.</h4></span>
        <span><h4>By default No Status will be assigned to the newly added user .</h4></span>
        <span><h4>Recommended to use in chrome browser for better user experience.</h4></span>

        <button class="btn btn-success big" (click)="lunchApp()">Launch Application</button>

</div>